

.container{
	color: #078899;
	display: flex;
	padding-top: 1%;
	 background-color:transparent;
}
.flight__dropdowns{
	width: 30%;
	margin: 0 2% 2% 2% ;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 2px solid #078899;
	border-radius: 5px;
}
.flight__form{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
h2{
	padding: 3%;
}
 select{
	width: 70%;
	height: 40px;
	margin-bottom: 1%;
	border-radius: 10px;
	border-width: 2px;
	font-size: 16px;
	font-weight: bold;
}
.search__btn{
	margin: 3%;
	height: 30px;
	width: 30%;
	background-color: transparent;
	border: 1px solid #078899;
	border-radius: 10px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	font-size: 15px;
}
.search__btn:hover{
	background-color: #078899;
	color: #fff;
}
.flight__headings > th{
	height: 30px;
	padding: 10px;
	border: 1px solid #078899;
}
table{
	border: 1px solid #078899;
}
td{
	height: 30px;
	text-align: center;

}
td> button{
	width: 100%;
	height: 100%;
	border: none;
	background-color: transparent;
	transition: all 0.3s ease-in-out;
}
td> button:hover{
	background-color: #078899;
	color: #fff;
}

.booking__table{
	width: 60%;
	overflow-x: auto;
}
@media screen and (max-width: 960px) {
	.container{
		display: flex;
		flex-direction: column;
	}
	.flight__dropdowns{
		width: 90%;
	}
	.flight__form{
		width: 80%;
	}
	h2{
		padding: 2%;

	}
	.booking__table{
		width: 90%;
	}
}

.under > img{
	bottom: 0;
	background:url('../../images/flight1.jpg') no-repeat ;
	width: 100%;

}
